<div class="container hidden-xs">
    <a href="#">
        <img src="Content/images/google-dart-tutorials-logo.png" class="pull-left" /></a>
    <ul class="nav nav-tabs">
        <!-- ko foreach: router.navigationModel -->
        <li data-bind="css: { active: isActive }" style="bottom: -44px;"><a data-bind="attr: { href: hash }, html: title"></a></li>
        <!-- /ko -->

        <li class="nav navbar-nav navbar-right">
            <form class="pull-right navbar-form" data-bind="submit:search">
                <input type="text" class="search-query form-control" placeholder="Search">
            </form>
        </li>
    </ul>
</div>

<div class="container visible-xs">
    <a href="#" class="pull-left">
        <img src="Content/images/google-dart-tutorials-logo.png" /></a>
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-align-justify" style="cursor: pointer;">
                        <span class="text">Menu</span>
                    </span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <!-- ko foreach: router.navigationModel -->
                    <li data-bind="css: { active: isActive }"><a data-bind="attr: { href: hash }, html: title"></a></li>
                    <!-- /ko -->
                </ul>
            </li>
        </ul>
    </div>

</div>


<section class="container">
    <div data-bind="router: { transition:'entrance', cacheViews:true }"></div>
</section>
<section style="background-color: #efefef; height: 30px; margin-top: 10px; margin-bottom: 10px;">
    <div class="container text-center" style="padding-top: 5px;">
        <a href="#">Home</a> | 
    <a href="#Tutorials/Getting-Started">Getting Started</a> | 
    <a href="#Tutorials">Tutorials</a>
    </div>
</section>

<section class="container" style="text-align: center;">
    Our goal is to improving the experience for all by educating the chosen few to be utilitarianistic with their knowledge.<br />
    To take what they know to help improve the current norms of online experiences.
</section>
