<div class="col-12">
<h3>Google Dart Tutorial</h3>
<p>Google Dart is a modern Javascript alternative designed to allow developers who are familiar with C#, C++ 
  or even Java to hit the ball rolling. Originally called Dash this open source scripting language is 
  designed and developed by Google. We want to show you how you will be able to use Google Dart within your websites. 
  </p>
  <p>The idea of the site is to be fun not serious, sit back and enjoy and learning this great scripting language. 
  We are not pushing the use of Dart, simply showing you what it is, and hopefully how it can help you make the 
  users experience a better one. See or footer for a glimps of what we are all about.</p>

<h3>Why Google Dart</h3>
<p>The web has become a complicated place, if you have been around of a few 
years you will know that visitors to your sites demand high quality and fast 
speeds. Full page refresh and slow loading images will make your visitors leave 
after 2 clicks! There has been a number of technologies over the years that's 
tried to make the web a better place for vistors. Flash, Java Applets and the 
latest Micosoft Silverlight have all failed to hit the mark for one reason or 
other. However there is somthing so fundimental thats been there since the 
early 90s that is still in wide use... Javascript.</p>
	<p>If you're not using Javascipt then you simply do not have a responsive UI. 
	It's only the mix of HTML5/Javascript that will truly work on all devices, 
	including mobile. However Javascript has a number of problems, for example 
	types, memory, speed and ease of use. Google Dart hopes to fill this gap.</p>
<h3>Make your site stand out!</h3>
<p>Let us kick off with our first tutorial "<a href="#Tutorials/Getting-Started">Getting started with Dart</a>".</p>

<p style="text-align:center;">
  <a href="#Tutorials/Getting-Started" style="text-decoration:none;"><input type="button" class="btn btn-default" value="Read more"></a>
</p>

</div>